<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:if="${#request.isUserInRole('ADMIN')}"
						th:href="@{/inventario/nuevo}" class="btn btn-primary btn-xs">Ingresar</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th
								th:if="${#request.isUserInRole('ADMIN')} OR ${#request.isUserInRole('USER')}">id</th>
							<th>Codigo</th>
							<th>Nombre</th>
							<th>Proveedor</th>							
							<th>Stock</th>
							<th>M</th>
							<th>P</th>							
							<th>P.V</th>		
							<th>Inversion</th>					
							<th>Estimacion</th>							
														
							<th th:if="${#request.isUserInRole('ADMIN')}">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="inventario: ${inventarios}">
							<td
								th:if="${#request.isUserInRole('ADMIN')} OR ${#request.isUserInRole('USER')}"><a
								class="btn btn-primary btn-xs"
								th:href="@{/inventario/} + ${inventario.codigoProveedor}"
								th:text="${inventario.codigoProveedor}"></a></td>
							<td th:text="${inventario.producto.codigo}"></td>	
							<td th:text="${inventario.producto.nombrep}"></td>													
							<td th:text="${inventario.producto.proveedor.nombre}"></td>							
							<td th:text="${inventario.stock}"></td>							
							<td th:text="${inventario.producto.margen.porcentaje}+'%'"></td>
							<td th:text="'$'+${inventario.producto.precio}"></td>							
							<td class="mm" th:text="'$'+${#numbers.formatDecimal((inventario.producto.precio * (inventario.producto.margen.porcentaje/100)+inventario.producto.precio), 0, 'COMMA', 2, 'POINT')}"></td>
							<td th:text="'$'+${#numbers.formatDecimal((inventario.producto.precio*inventario.stock), 0, 'COMMA', 2, 'POINT')}"></td>
							<td class="mm" th:text="'$'+${#numbers.formatDecimal(((inventario.producto.precio * (inventario.producto.margen.porcentaje/100)+inventario.producto.precio)*inventario.stock), 0, 'COMMA', 2, 'POINT')}"></td>
<!-- 							<td
								th:if="${#request.isUserInRole('USER')}"><a
								class="btn btn-success btn-xs"
								th:href="@{'/factura/form/' + ${inventario.id}}"
								th:text="'crear factura'"></a></td> -->							
							<td th:if="${#request.isUserInRole('ADMIN')}"><a
								class="btn btn-danger btn-xs"
								th:href="@{/inventario/eliminar/} + ${inventario.id}" th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>

				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script>
	/* var mm = document.getElementsByClassName('mm');
	alert(mm[0].value); */
	</script>
</body>
</html>