<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${descuento}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/descuento/save}" th:object="${descuento}"
					method="post" enctype="multipart/form-data">
					<div class="form-group row">
						<label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{cantidad}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="porcentaje" class="col-sm-2 col-form-label">Porcentaje</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{porcentaje}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('porcentaje')}" th:errors="*{porcentaje}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="cargar_producto" class="col-sm-2 col-form-label"
							th:text="'Producto'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{producto}" name="cargar_producto"
								id="cargar_producto" class="form-control" />
						</div>
					</div>					

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlAjax" th:value="@{/factura/cargar_producto/}"/>
	<!-- <script th:replace="descuentos/js/setselected :: javascript"></script> -->
	<script th:replace="descuentos/js/autocomplete :: javascript"></script>


</body>
</html>