<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

// 			$("#cargar_categoria").autocomplete({

// 				source : function(request, response) {
// 					$.ajax({
// 						url : "/categoria/cargar_categoria/" + request.term,
// 						dataType : "json",
// 						data : {
// 							term : request.term
// 						},
// 						success : function(data) {
// 							response($.map(data, function(item) {
// 								return {
// 									value : item.id,
// 									label : item.modelo,
// 									precio : item.placas,
// 								};
// 							}));
// 						},
// 					});
// 				},
// 				select : function(event, ui) {
// 					$("#cargar_vehiculos").val(ui.item.value)
					

// 					return false;
// 				}
// 			});
// 			$("#cargar_delegado").autocomplete({

// 				source : function(request, response) {
// 					$.ajax({
// 						url : "/taller/cargar_delegado/" + request.term,
// 						dataType : "json",
// 						data : {
// 							term : request.term
// 						},
// 						success : function(data) {
// 							response($.map(data, function(item) {
// 								return {
// 									value : item.id,
// 									label : item.nombre,
// 									precio : item.username,
// 								};
// 							}));
// 						},
// 					});
// 				},
// 				select : function(event, ui) {
// 					$("#cargar_delegado").val(ui.item.value)

// 					return false;
// 				}
// 			});

			
let dropdown = $('#cargar_categoria')
dropdown.empty();
dropdown.append('<option>Selecciona</option>');
dropdown.prop('selectedIndex',1);
const url = "/categoria/cargar_categoria";

//populate dropdown list wujuu
$.getJSON(url,function(data){
	$.each(data,function(key,entry){
		
		if(id1==entry.id){
		dropdown.append($('<option selected></option>').attr('value',entry.id).text(entry.nombre));		
	}else{
			dropdown.append($('<option></option>').attr('value',entry.id).text(entry.nombre));
		}
		
	})
});
// 	document.getElementById("cargar_categoria").value=2;

let marca = $('#cargar_marca')
marca.empty();
marca.append('<option selected="true" disabled>Selecciona</option>');
marca.prop('selectedIndex',0);
const url2 = "/marca/cargar_marca";
//populate dropdown list wujuu
$.getJSON(url2,function(data){
	$.each(data,function(key,entry){
		if(id2==entry.idm){
		marca.append($('<option selected></option>').attr('value',entry.idm).text(entry.nombrem));
		}
		else{
			marca.append($('<option></option>').attr('value',entry.idm).text(entry.nombrem));	
		}
	})
});

let margen = $('#cargar_margen')
margen.empty();
margen.append('<option selected="true" disabled>Selecciona</option>');
margen.prop('selectedIndex',0);
const url3 = "/margen/cargar_margen";
//populate dropdown list wujuu
$.getJSON(url3,function(data){
	$.each(data,function(key,entry){
		if(id3==entry.id){
		margen.append($('<option selected></option>').attr('value',entry.id).text(entry.porcentaje+"%"));
		}else{
			margen.append($('<option></option>').attr('value',entry.id).text(entry.porcentaje+"%"));	
		}
	})
});

let presentacion = $('#cargar_presentacion')
presentacion.empty();
presentacion.append('<option selected="true" disabled>Selecciona</option>');
presentacion.prop('selectedIndex',0);
const url4 = "/presentacion/cargar_presentacion";
//populate dropdown list wujuu
$.getJSON(url4,function(data){
	$.each(data,function(key,entry){
		if(id4==entry.id){
		presentacion.append($('<option selected></option>').attr('value',entry.id).text(entry.detalle));
		}else{
		presentacion.append($('<option></option>').attr('value',entry.id).text(entry.detalle));
		}
	})
});

let proveedor = $('#cargar_proveedor')
proveedor.empty();
proveedor.append('<option selected="true" disabled>Selecciona</option>');
proveedor.prop('selectedIndex',0);
const url5 = "/proveedor/cargar_proveedor";
//populate dropdown list wujuu
$.getJSON(url5,function(data){
	$.each(data,function(key,entry){
		if(id5==entry.id){
		proveedor.append($('<option selected></option>').attr('value',entry.id).text(entry.nombre));
		}else{
		proveedor.append($('<option></option>').attr('value',entry.id).text(entry.nombre));	
		}
	})
});
													
			
					
				


		});
		
	</script>
	<script type="text/javascript">
	
	</script>
</body>
</html>