<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

var urlAjax = $("#urlAjaxpro").val();
			$("#cargar_producto").autocomplete({

				source : function(request, response) {
// 					var provid = $("#cargar_proveedor").val();
					$.ajax({
						url : urlAjax + request.term,
						dataType : "json",
						data : {
							term : request.term
							
						},
						success : function(data) {
							
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.codigo+"-" +item.nombrep +" - "+item.proveedornombre,
									precio: item.precio,
									margen: item.margen
									
								};
									
							}));
						},
					});
				},
				select : function(event, ui) {
// 					$("#cargar_producto").val(ui.item.value)
					if(itemsHelper.hasProducto(ui.item.value)){
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio,ui.item.margen)
						return false;
					}
					
					var linea = $("#plantillaItemsFactura").html();
					linea = linea.replace(/{ID}/g,ui.item.value);
					linea = linea.replace(/{NOMBRE}/g,ui.item.label);
					linea = linea.replace(/{PRECIO}/g,ui.item.precio);
// 					linea = linea.replace(/{MARGEN}/g,ui.item.margen);
					
					$("#cargarItemProductos tbody").append(linea);
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio,1,ui.item.margen);
					$("#margen_"+ui.item.value).val(ui.item.margen);
					return false;
				}
			});
			
	 		$("form").submit(function(){
	 			$("#plantillaItemsFactura").remove();
	 			return;
	 		});
	 		
	 		
		});
		
		var itemsHelper = {
				calcularImporte: function(id, precio, cantidad,margen){
					if(margen==null){
						margen = $("#margen_"+id).val();
					}
					$("#total_importe_"+id).html((parseFloat(precio)* parseInt(cantidad)*(margen/100)).toFixed(2));
					this.calcularGranTotal();
				},
				calcularImporte2: function(id, precio,margen){
					var cantidad = 1;
					
						cantidad = $("#cantidad_"+id).val();
					
					$("#total_importe_"+id).html((parseFloat(precio)* parseInt(cantidad)*(margen/100)).toFixed(2));
					this.calcularGranTotal();
				},
				hasProducto: function(id){
					var resultado = false;
					
				
				$('input[name="item_id[]"]').each(function(){
					if(parseInt(id) == parseInt($(this).val()) ){
						resultado = true;
					}
				});
				return resultado;
		},
		incrementaCantidad: function(id,precio){
			var cantidad = $("#cantidad_" +id).val() ? parseInt($("#cantidad_"+id).val()) : 0;
			$("#cantidad_"+id).val(++cantidad);
			margen = $("#margen_"+id).val();
			alert(margen);
			this.calcularImporte(id,precio,cantidad,margen);
		},
		eliminarLineaFactura: function(id){
			$("#row_"+id).remove();
			this.calcularGranTotal();
		},
		calcularGranTotal: function(){
			var total = 0;
			$('span[id^="total_importe_"]').each(function(){
// 				alert(parseFloat($(this).html()).toFixed(2));
				total+=parseFloat($(this).html());
// 				total+=parseFloat($(this).html()).toFixed(2);
// 				total+=Math.round(parseFloat($(this).html()*100)/100);
			});
			total = total.toFixed(2);
			$("#gran_total").html(total);
			$("#submit").removeAttr('disabled');
		}
	}


			
		
		
	</script>
</body>
</html>