<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'DySumar- ' + ${titulo}"></title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/alertify.min.css}" />
<link rel="stylesheet" th:href="@{/css/themes/default.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" />
<link rel="stylesheet" th:href="@{/css/crudanimation.css}" />


<link rel="shortcut icon" type="image/png"
	th:href="@{/images/icono.png}" />
<link rel="shortcut icon" type="image/png"
	th:href="@{/images/icono.png}" />
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#">DySumar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>

					<li
						th:if="${#request.isUserInRole('ADMIN')} OR ${#request.isUserInRole('USER')}"
						class="nav-item dropdown"><a class="nav-link dropdown-toggle"
						href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Clientes </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#about" th:href="@{/clientes}">Clientes</a>
							<a class="dropdown-item" th:href="@{/direcciones}">Direcciones</a>
							<a class="dropdown-item" th:href="@{/cdireccion}">Asignar direccion</a>
							
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Giros</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Entradas </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#about"
								th:href="@{/producto/listar}">Productos</a> <a
								class="dropdown-item" th:href="@{/inventario/listar}">Ingresos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Movimientos</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Salidas </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#about"
								th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}"
								th:href="@{/factura/listar}">Factura</a> <a
								class="dropdown-item" th:href="@{/ventas/listar}">Historial de Salidas</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Movimientos</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Productos </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#about" th:href="@{/marca/listar}">Marcas</a>
							<a class="dropdown-item" th:href="@{/proveedor/listar}">Proveedores</a> <a
								class="dropdown-item" th:href="@{/categoria/listar}">Categorias</a> <a
								class="dropdown-item" th:href="@{/descuento/nuevo}">Descuentos</a> <a
								class="dropdown-item" href="#">Margenes</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Buscar una cotizacion</a>
						</div></li>

				</ul>

				<ul class="navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						class="btn btn-outline-primary" th:href="@{/login}">Sign In</a></li>

					<li sec:authorize="isAuthenticated()" class="dropdown show"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><span
							sec:authentication="name"></span></a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit">Sign Out</button>
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
							</form>

						</div></li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container"
		style="background-color: #0B243B; color: white;">
		<hr />
		<img th:src="@{/images/logo.jpeg}" alt="Spring logo" />
		<p sec:authorize="isAuthenticated()">
			Usuario logeado: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span>
		</p>
		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring
				Boot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>.
		</p>
		<p>
			Soporte: christopher.emm01@gmail.com<br /> &copy; <br />
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/animeddelete.js}"></script>
		<script th:src="@{/js/alertify.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/bootstrap-select.min.js}"></script>
		
		<script th:inline="javascript">
	var x = [[${error}]];
	var y = [[${success}]];
	
	if(x!=null){
	alertify.error(x);
	}
	if(y!=null){ alertify.alert('Exito!', y, function(){ alertify.success('Ok'); });}
	
	</script>
	</footer>
</body>
</html>