<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<!-- 				<a th:ref="@{'/listar}" class="btn btn-light btn-xs" th:utext="#{text.global.volver}">&laquo; Volver></a> -->
					<a class="btn btn-danger btn-xs float-right"
						th:href="@{'/factura/ver/' + ${codigofa}(format=pdf)}">PDF</a> <a
						class="btn btn-success btn-xs float-right"
						th:href="@{'/factura/ver/' + ${codigofa}(format=xlsx)}">XLSX</a>

					<!-- 					<a th:if="${#request.isUserInRole('USER')}" -->
					<!-- 						class="btn btn-primary btn-xs" -->
					<!-- 						th:href="@{'/factura/form/' + ${producto.id}}" -->
					<!-- 						th:text="'Crear factura'"></a> -->
					<!-- 						<a -->
					<!-- 						sec:authorize="hasRole('ROLE_ADMIN')" -->
					<!-- 						class="btn btn-primary btn-xs" -->
					<!-- 						th:href="@{'/taller/form/' + ${producto.id}}" -->
					<!-- 						th:text="'Nuevo requerimiento'"></a> -->
					<a class="btn btn-primary btn-xs" th:href="@{/factura/listar}"
						th:text="'Volver'"></a>

				</h4>

				<!-- 				<img th:if="${#strings.length(producto.foto) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${producto.foto}}" th:alt="${producto.foto}" /> -->

				<ul class="list-group">
					<li class="list-group-item active" th:text="${codigofa}"></li>
					<li class="list-group-item"
						th:text="'Factura con id:    '+${codigofa}"></li>
					<li class="list-group-item" th:text="'Cliente: '+  ${facturaciones.cliente.cliente.nombre} +'  '+ ${facturaciones.cliente.cliente.apellido}"></li>
					<li class="list-group-item" th:text="'NIT: '+  ${facturaciones.cliente.cliente.dui}"></li>
					<li class="list-group-item" th:text="'Giro: '+  ${facturaciones.cliente.cliente.giro.nombre}"></li>
					<li class="list-group-item" th:text="'Direccion: '+  ${facturaciones.cliente.direcciones.nombre}"></li>
					<li class="list-group-item" th:text="'A cuenta de: '+  ${facturaciones.aCuentade}"></li>
					<li class="list-group-item" th:text="'Factura : '+  ${facturaciones.tipoFactura.nombre}"></li>
					<li class="list-group-item" th:text="'Condicion: ' +${facturaciones.condicionesDPago.nombre}"></li>
					<li class="list-group-item" th:text="'Pago: ' +${facturaciones.formadepago.nombre}"></li>
					<li class="list-group-item" th:text="'Fecha: ' +${facturaciones.cotizacion.fecha}"></li>
				</ul>

				<!-- <div th:if="${#lists.isEmpty(factura)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas de este producto ' + ${producto.nombrep} + ' ' + ${producto.codigo}"></div> -->

				<table class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>ID</th>
							<th>Producto</th>
							<th>Marca</th>
							<th>Proveedor</th>
							<th>Cantidad</th>

							<!-- 							<th sec:authorize="hasRole('ROLE_ADMIN')">ver</th> -->
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="carritos: ${facturaciones.cotizacion.carrito}">
							<td th:text="${carritos.productos.id}"></td>
							<td th:text="${carritos.productos.nombrep}"></td>
							<td th:text="${carritos.productos.proveedor.nombre}"></td>
							<td th:text="${carritos.productos.marca.nombrem}"></td>
							<td th:text="${carritos.cantidad}"></td>
							<!-- 							<td th:text="${factura.cantidad}"></td> -->

							<!-- 							<td th:text="${factura.cantidad * factura.servicios.precio}"></td> -->
							<!-- 							<td sec:authorize="hasRole('ROLE_ADMIN')"><a -->
							<!-- 								class="btn btn-primary btn-xs" -->
							<!-- 								th:href="@{'/factura/ver/' + ${factura.id}}" th:text="'detalle'"></a></td> -->
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger btn-xs"
								th:href="@{'/factura/eliminar/' + ${codigofa}}"
								th:text="'eliminar'"
								onclick="return confirm('¿Estas seguro que desea eliminar la factura?');"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>