<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" th:href="@{/css/tbwoborder.css}" />

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<!-- 				<a th:ref="@{'/listar}" class="btn btn-light btn-xs" th:utext="#{text.global.volver}">&laquo; Volver></a> -->
					<a class="btn btn-danger btn-xs float-right"
						th:href="@{'/factura/ver/' + ${codigofa}(format=pdf)}">PDF</a> <a
						class="btn btn-success btn-xs float-right"
						th:href="@{'/factura/ver/' + ${codigofa}(format=xlsx)}">XLSX</a>

					<!-- 					<a th:if="${#request.isUserInRole('SELLER')}" -->
					<!-- 						class="btn btn-primary btn-xs" -->
					<!-- 						th:href="@{'/factura/form/' + ${producto.id}}" -->
					<!-- 						th:text="'Crear factura'"></a> -->
					<!-- 						<a -->
					<!-- 						sec:authorize="hasRole('ROLE_ADMIN')" -->
					<!-- 						class="btn btn-primary btn-xs" -->
					<!-- 						th:href="@{'/taller/form/' + ${producto.id}}" -->
					<!-- 						th:text="'Nuevo requerimiento'"></a> -->
					<a class="btn btn-primary btn-xs" th:href="@{/factura/listar}"
						th:text="'Volver'"></a> <a class="btn btn-danger btn-xs"
						th:href="@{/factura/eliminar/}+${codigofa}"
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_FACT','ROLE_JEFEADM')"
						th:text="'Descarcar ahora'" onclick="return confirm('Estas seguro que quieres eliminar?');"></a>
					<a th:if="${facturaciones.status==2}"
						class="btn btn-success btn-xs" data-toggle="modal"
						data-target="#exampleModal2" style="color: white;"
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_FACT')"
						onclick="meterid();" th:text="'Procesar'"></a>


				</h4>

				<div class="modal" tabindex="-1" role="dialog" id="exampleModal2">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">PROCESAR REMISIÓN</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="statuschangeform"
									th:action="@{/factura/statusChange/}" class="form-control"
									method="post">
									<input id="idinput" type="hidden" name="id" /> <label>Codigo
										unico de remisión:</label> <input id="codigoinput" type="number"
										name="codigo" class="form-control" />
								</form>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primarm yhgy"
									onclick="cambiarcodigo()">Enviar</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>

				<ul class="list-group">
					<li id="idli" class="list-group-item active" th:text="${codigofa}"></li>
					<li th:if="${facturaciones.status==1}" class="list-group-item"
						style="color: green" th:text="'Estado :    APROBADO'"></li>
					<li th:if="${facturaciones.status==3}" class="list-group-item"
						style="color: red"
						th:text="'Estado :    EN ESPERA (Stock insuficiente)'"></li>
					<li th:if="${facturaciones.status==2}" class="list-group-item"
						style="color: #F05E23"
						th:text="'Estado :    EN ESPERA a facturacion'"></li>
					<li class="list-group-item"
						th:text="'Factura con id:    '+${codigofa}"></li>
					<li class="list-group-item"
						th:text="'Cliente: '+  ${facturaciones.cliente.cliente.nombre}"></li>
					<li class="list-group-item"
						th:text="'NIT: '+  ${facturaciones.cliente.cliente.dui}"></li>
					<li class="list-group-item"
						th:text="'Giro: '+  ${facturaciones.cliente.cliente.giro.detalles}"></li>
					<li class="list-group-item"
						th:text="'Direccion: '+  ${facturaciones.cliente.direcciones.nombre}"></li>
					<li class="list-group-item"
						th:text="'A cuenta de: '+  ${facturaciones.aCuentade.username}"></li>
					<li class="list-group-item"
						th:text="'Factura : '+  ${facturaciones.tipoFactura.nombre}"></li>
					<li class="list-group-item"
						th:text="'Pago: ' +${facturaciones.condicionesDPago.nombre}"></li>
					<!-- 					<li class="list-group-item" -->
					<!-- 						th:text="'Pago: ' +${facturaciones.formadepago.nombre}"></li> -->
					<li class="list-group-item"
						th:text="'Fecha: ' +${facturaciones.cotizacion.fecha}"></li>
					<li class="list-group-item"
						sec:authorize="hasAnyRole('ROLE_ADMIN')"
						th:text="'Status en tabla cotizacion: ' +${facturaciones.cotizacion.aprobado}"></li>
					<li class="list-group-item"
						sec:authorize="hasAnyRole('ROLE_ADMIN')"
						th:text="'Status en tabla cotizacion: ' +${facturaciones.status}"></li>
				</ul>

				<!-- <div th:if="${#lists.isEmpty(factura)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas de este producto ' + ${producto.nombrep} + ' ' + ${producto.codigo}"></div> -->
				<div style="overflow-x: auto;">
					<table class="table table-bordered table-striped my-4" id="carrito">
						<thead class="thead-inverse">
							<tr>
								<th>ID</th>
								<th style="font-size: 10px"
									>ID carrito</th>
								<th style="font-size: 10px">CO ID</th>
								<th>Producto</th>
								<th>Proveedor</th>
								<th>Marca</th>
								<th>Costo</th>
								<th>Margen</th>
								<th>Precio</th>
								<th>Descuento</th>
								<th>Cantidad</th>
								<th>Total</th>
								<th sec:authorize="hasAnyRole('ROLE_ADMIN')">Status</th>
								<th sec:authorize="hasAnyRole('ROLE_ADMIN')">Stock actual</th>

								<!-- 							<th sec:authorize="hasRole('ROLE_ADMIN')">ver</th> -->
								<!-- 							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th> -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="carritos: ${facturaciones.cotizacion.carrito}">
								<td><a
									th:href="@{/producto/ver/} + ${carritos.productos.id}"
									class="btn btn-success" target="_blank" title="Aqui puedes ir directamente a ver el producto"
									th:text="${carritos.productos.id}"></a></td>
								<td th:text="${carritos.id}"></td>
								<td><a 
									th:href="@{/cotizacion/ver/} + ${carritos.cotizacionid.id}"
									title="Aqui puedes ir directamente a la cotizacion nada mas"
									class="btn btn-warning" target="_blank" style="font-size: 10px"
									th:text="${carritos.cotizacionid.id}"></a></td>
								<td th:text="${carritos.productos.nombrep}"></td>
								<td th:text="${carritos.productos.proveedor.nombre}"></td>
								<td th:text="${carritos.productos.marca.nombrem}"></td>
								<td th:text="'$'+${carritos.productos.precio}"></td>
								<td th:text="${carritos.margen}+'%'"></td>
								<td
									th:text="'$'+${#numbers.formatDecimal(((carritos.productos.precio)/((100-carritos.margen)/100)),0,'COMMA',3,'POINT')}"></td>
								<td th:if="${carritos.descuento<1}"
									th:text="${carritos.descuento*100}+'%'"></td>
								<td th:if="${carritos.descuento==1}" th:text="'NO'"></td>
								<td th:text="${carritos.cantidad}"></td>
								<td
									th:text="${#numbers.formatDecimal(((carritos.productos.precio)/((100-carritos.margen)/100))*carritos.cantidad,0, 'COMMA', 3, 'POINT')}"></td>
								<td sec:authorize="hasAnyRole('ROLE_ADMIN')"
									th:text="${carritos.status}"></td>
								<td sec:authorize="hasAnyRole('ROLE_ADMIN')"
									th:text="${carritos.productos.stock}"></td>
								<!-- 							<td th:text="${factura.cantidad}"></td> -->

								<!-- 							<td th:text="${factura.cantidad * factura.servicios.precio}"></td> -->
								<!-- 							<td sec:authorize="hasRole('ROLE_ADMIN')"><a -->
								<!-- 								class="btn btn-primary btn-xs" -->
								<!-- 								th:href="@{'/factura/ver/' + ${factura.id}}" th:text="'detalle'"></a></td> -->
								<!-- 							<td sec:authorize="hasRole('ROLE_ADMIN')"><a -->
								<!-- 								class="btn btn-danger btn-xs" -->
								<!-- 								th:href="@{'/factura/eliminar/' + ${codigofa}}" -->
								<!-- 								th:text="'eliminar'" -->
								<!-- 								onclick="return confirm('Â¿Estas seguro que desea eliminar la factura?');"></a></td> -->
							</tr>
						</tbody>

					</table>
				</div>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlenviar"
		th:value="@{/factura/statusChange/}" />
	<script>
		function enviarcodigo() {
			location.href = $("#urlenviar").val() + $("#codigoinput").val();
		}
		function cambiarAction() {

			$('#statuschangeform').attr('action',
					$("#urlenviar").val() + $("#codigoinput").val());
		}
		function meterid() {

			var elID = $("#idli").text();
			$("#idinput").val(elID);
		}

		function getConfirmation() {
			var retVal = confirm("Do you want to continue ?");
			if (retVal == true) {
				document.write("User wants to continue!");
				return true;
			} else {
				document.write("User does not want to continue!");
				return false;
			}
		}
	</script>
	<script th:inline="javascript" th:if="${!activePivot}">
		$('#carrito').DataTable({
			"paging" : false,

			"searching" : false,
			"info" : false
		});
	</script>
	<script th:inline="javascript" th:if="${activePivot}">
		$('#carrito').DataTable(
				{
					"paging" : false,

					"searching" : false,
					"info" : false,
					rowGroup : {
						startRender : null,
						endRender : function(rows, group) {
							var salaryAvg = rows.data().pluck(11).reduce(
									function(a, b) {
										return parseFloat(a) + parseFloat(b);
									});

							return $('<tr/>').append(
									'<td colspan="11" class="totalclass">Cotizacion: '
											+ group + '</td>')

							.append(
									'<td class="totalclass">' + salaryAvg
											+ '</td>');
						},
						dataSrc : 2
					}
				});
	</script>
	<script>
		function cambiarcodigo() {
			$('#statuschangeform').submit();
		}
	</script>

</body>
</html>