<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:if="${#request.isUserInRole('USER')}"
						class="btn btn-primary btn-xs"
						th:href="@{'/factura/form/' + ${cliente.id}}"
						th:text="'Crear factura'"></a>
					<!-- 						<a -->
					<!-- 						sec:authorize="hasRole('ROLE_ADMIN')" -->
					<!-- 						class="btn btn-primary btn-xs" -->
					<!-- 						th:href="@{'/taller/form/' + ${cliente.id}}" -->
					<!-- 						th:text="'Nuevo requerimiento'"></a> -->
					<a th:if="${#request.isUserInRole('ADMIN')}"
						class="btn btn-primary btn-xs"
						th:href="@{'/taller/tallerform/' + ${cliente.id}}"
						th:text="'Nueva asignacion'"></a> 
						<a class="btn btn-primary btn-xs" th:if="${not #lists.isEmpty(taller)} AND ${#request.isUserInRole('USER')}" 
						th:href="@{'/factura/finalizar/' + ${taller.id}}"
						th:text="'Finalizar factura'"></a>

				</h4>

				<img th:if="${#strings.length(cliente.foto) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}" />

				<ul class="list-group">
					<li class="list-group-item active" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(taller)}" class="alert alert-info my-4"
					th:text="'No hay facturas activas para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

				<table th:if="${not #lists.isEmpty(taller)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>folio</th>
							<th>descripción</th>
							<th>cantidad</th>

							<th>total</th>
							<!-- 							<th sec:authorize="hasRole('ROLE_ADMIN')">ver</th> -->
							<th sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${taller.factura}">
							<td th:text="${factura.id}"></td>
							<td th:text="${factura.servicios.nombreServicio}"></td>
							<td th:text="${factura.cantidad}"></td>

							<td th:text="${factura.cantidad * factura.servicios.precio}"></td>
							<!-- 							<td sec:authorize="hasRole('ROLE_ADMIN')"><a -->
							<!-- 								class="btn btn-primary btn-xs" -->
							<!-- 								th:href="@{'/factura/ver/' + ${factura.id}}" th:text="'detalle'"></a></td> -->
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger btn-xs"
								th:href="@{'/factura/eliminar/' + ${factura.id}}"
								th:text="'eliminar'"
								onclick="return confirm('¿Estas seguro que desea eliminar la factura?');"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>