<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
	
	var urlAjax = $("#urlAjax").val();
	
		$(document).ready(function() {

			$("#cargar_giro").autocomplete({

				source : function(request, response) {					
					$.ajax({
						url : urlAjax + request.term,
						dataType : "json",
						data : {
							term : request.term
							
						},
						success : function(data) {
							
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.detalles,
								};
									
							}));
						},
					});
				},
				select : function(event, ui) {
					$("#cargar_giro").val(ui.item.value)
					

					return false;
				}
			});
		
		});
	</script>
</body>
</html>